<div class="container">
<button id="btn" class="btn btn-warning btn-lg" (click)="getUserDetails()">Post Method</button></div>
<div *ngIf="api_Service.loading | async" class="loader">

  <mat-progress-bar mode="indeterminate">
    
  </mat-progress-bar>

  
  
</div>


<div class="container">
<!-- 
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">UserName</th>
   
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userData">
       
        <td>{{item?.id}}</td>
        <td>{{item?.body}}</td>
       
      </tr>
  
    </tbody>
  </table> -->


</div>